.ol-popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 15px 25px 15px 15px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-content {
    min-width: 170px;
    max-height: 200px;
    overflow-x: auto;
}

.ol-popup-closer {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 150%;
    padding: 0 4px;
    color: gray;
    text-decoration: none;
}

.ol-popup-closer:after {
    content: "\2716";
}

.ol-popup div.infoResult {
    min-width: 130px;
}

.ol-popup div.infoResult p {
    padding: 0.1em;
    margin: 0;
}

.ol-popup-content h3 {
    margin: 0.25em 0;
}

.ol-popup.marker {
    margin-bottom: 30px;
}

/*
     FILE ARCHIVED ON 05:37:30 Jul 22, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:07:28 Jan 30, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.745
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 59.988
  LoadShardBlock: 1057.158 (6)
  PetaboxLoader3.resolve: 655.465 (3)
  PetaboxLoader3.datanode: 693.28 (7)
  load_resource: 566.262
*/